@import './../../styles/variables';

.o-button {
  background-color: $button-background-color;
  padding: $button-padding;
  color: $button-font-color-default;
  border: $button-border-width $button-border-color $button-border-style;
  cursor: pointer;
  border-radius: $button-border-radius;
  height: $button-height;
  min-width: $button-min-width;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  font-size: $button-font-size;
  line-height: normal;

  /* Icons inside button */
  .material-icons {
    vertical-align: $button-vertical-align;
  }

  /* Disabled */
  &[disabled] {
    opacity: 0.4;
  }

  /* Hover */
  &:hover, &:focus {
    box-shadow: $button-box-shadow;
  }
}

/* Small */
.o-button-small {
  height: $button-height-small;
  font-size: $button-font-size-small;
}

/* Large */
.o-button-large {
  height: $button-height-large;
  font-size: $button-font-size-large;
}

/* Primary */
.o-button-primary {
  background: $button-primary-color;
  color: $button-font-color;
  border-color: $button-primary-border-color;

  /* Hover */
  &:hover, &:focus {
    background-color: lighten($button-primary-color, 5%);
  }

  /* Active */
  &:active {
    background-color: darken($button-primary-color, 5%);
  }
}

/* Secondary */
.o-button-secondary {
  background: $button-secondary-color;
  color: $button-font-color;
  border-color: $button-secondary-border-color;

  /* Hover */
  &:hover, &:focus {
    background-color: lighten($button-secondary-color, 5%);
  }

  /* Active */
  &:active {
    background-color: darken($button-secondary-color, 5%);
  }
}

/* Danger */
.o-button-danger {
  background: $button-danger-color;
  color: $button-font-color;
  border-color: $button-danger-border-color;

  /* Hover */
  &:hover, &:focus {
    background-color: lighten($button-danger-color, 5%);
  }

  /* Active */
  &:active {
    background-color: darken($button-danger-color, 5%);
  }
}

/* Info */
.o-button-info {
  background: $button-info-color;
  color: $button-font-color;
  border-color: $button-info-border-color;

  /* Hover */
  &:hover, &:focus {
    background-color: lighten($button-info-color, 5%);
  }

  /* Active */
  &:active {
    background-color: darken($button-info-color, 5%);
  }
}

/* Warning */
.o-button-warning {
  background: $button-warning-color;
  color: $button-font-color;
  border-color: $button-warning-border-color;

  /* Hover */
  &:hover, &:focus {
    background-color: lighten($button-warning-color, 5%);
  }

  /* Active */
  &:active {
    background-color: darken($button-warning-color, 5%);
  }
}

/* Outline */
.o-button-outline {
  background: none;
  color: $button-font-color-default;

  &.o-button-primary {
    color: $button-primary-color;

    &:hover, &:focus {
      color: white;
      background: $button-primary-color;
    }

    &:active {
      background-color: darken($button-primary-color, 5%);
      color: white;
    }
  }

  &.o-button-secondary {
    color: $button-secondary-color;   

    &:hover, &:focus {
      color: white;
      background: $button-secondary-color;
    }

    &:active {
      background-color: darken($button-secondary-color, 5%);
      color: white;
    }
  }

  &.o-button-danger {
    color: $button-danger-color;   

    &:hover, &:focus {
      color: white;
      background: $button-danger-color;
    }

    &:active {
      background-color: darken($button-danger-color, 5%);
      color: white;
    }
  }

  &.o-button-warning {
    color: $button-warning-color;   

    &:hover, &:focus {
      color: white;
      background: $button-warning-color;
    }

    &:active {
      background-color: darken($button-warning-color, 5%);
      color: white;
    }
  }

  &.o-button-info {
    color: $button-info-color;   

    &:hover, &:focus {
      color: white;
      background: $button-info-color;
    }

    &:active {
      background-color: darken($button-info-color, 5%);
      color: white;
    }
  }
}

/* Flat */
.o-button-flat {
  background: none;
  color: $button-font-color-default;
  border: none;

  &:hover, &:focus, &:active {
    box-shadow: none;
  }

  &:active {
    color: darken($button-font-color-default, 5%);
  }

  &.o-button-primary {
    color: $button-primary-color;

    &:hover, &:focus {
      color: white;
      background: $button-primary-color;
    }

    &:active {
      background-color: darken($button-primary-color, 5%);
      color: white;
    }
  }

  &.o-button-secondary {
    color: $button-secondary-color;   

    &:hover, &:focus {
      color: white;
      background: $button-secondary-color;
    }

    &:active {
      background-color: darken($button-secondary-color, 5%);
      color: white;
    }
  }

  &.o-button-danger {
    color: $button-danger-color;   

    &:hover, &:focus {
      color: white;
      background: $button-danger-color;
    }

    &:active {
      background-color: darken($button-danger-color, 5%);
      color: white;
    }
  }

  &.o-button-warning {
    color: $button-warning-color;   

    &:hover, &:focus {
      color: white;
      background: $button-warning-color;
    }

    &:active {
      background-color: darken($button-warning-color, 5%);
      color: white;
    }
  }

  &.o-button-info {
    color: $button-info-color;   

    &:hover, &:focus {
      color: white;
      background: $button-info-color;
    }

    &:active {
      background-color: darken($button-info-color, 5%);
      color: white;
    }
  }
}