@import './../../styles/variables';

/* Button */
.o-pill-button, .o-pill-close {
  border: none;
  background: $pill-background;
  height: $pill-height;
  line-height: $pill-height;
  border-radius: $pill-border-radius;
  padding-left: $pill-padding-left;
  padding-right: $pill-padding-right;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
/* Only for interactive */
.o-pill-button__interactive {
  cursor: pointer;
}

/* Close */
.o-pill-close {
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 1px;
  cursor: pointer;
}

.o-pill {
  > div:first-child, > button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > div:last-child, > button:last-child {
    border-top-right-radius: $pill-border-radius;
    border-bottom-right-radius: $pill-border-radius;
  }
}