/* Base */
$default-spacing: 2rem !default;
$base-font-size: 1rem !default;
$default-border-radius: 3px !default;

/* Color */
$primary-color: #007bff !default;
$secondary-color: #868e96 !default;
$success-color: #28a745 !default;
$danger-color: #dc3545 !default;
$warning-color: #ffc107 !default;
$info-color: #17a2b8 !default;
$light-color: #f8f9fa !default;
$dark-color: #343a40 !default;

/* Links */
$link-color: $primary-color !default;

/* Button */
$button-height: 2.5rem !default;
$button-vertical-align: -0.4375rem !default;
$button-background-color: #ebf1f5 !default;
$button-padding: 0.5rem 1rem !default;
$button-spacing: 0.15rem !default;
$button-border-width: 1px !default;
$button-border-color: #666 !default;
$button-border-style: solid !default;
$button-font-color: white !default;

$button-primary-color: $primary-color !default;
$button-primary-border-color: darken($primary-color, 20%) !default;

$button-secondary-color: $secondary-color !default;
$button-secondary-border-color: darken($secondary-color, 20%) !default;

/* Button group */
$button-group-spacing: $default-spacing !default;

/* Card */
$card-border-width: 0px !default;
$card-border-color: #ddd !default;
$card-border-style: solid !default;
$card-border-radius: $default-border-radius !default;
$card-margin-bottom: $default-spacing !default;

/* Card body */
$card-background: white;
$card-body-padding: 1.5rem 1rem !default;
$card-title-padding: 0.5rem 1rem !default;
$card-footer-padding: 0.5rem 1rem !default;

/* Card footer */
$card-footer-border-width: 1px !default;

/* Card title */
$card-title-border-width: 1px !default;

/* Tooltip */
$hintPrefix: 'o-tooltip--' !default;
$hintFontSize: 14px !default;

/* Alert */
$alert-info-background: rgba(0, 144, 224, 0.1) !default;

/* Pill */
$pill-height: 40px !default;
$pill-background: #eee !default;
$pill-padding-left: 1rem !default;
$pill-padding-right: 1rem !default;
$pill-border-radius: 20px !default;

/* Elevation */
$elevation-0: 0 0 0 1px rgba(16, 22, 26, 0.15),
0 0 0 rgba(16, 22, 26, 0),
0 0 0 rgba(16, 22, 26, 0) !default;
$elevation-1: 0 0 0 1px rgba(16, 22, 26, 0.1),
0 0 0 rgba(16, 22, 26, 0),
0 1px 1px rgba(16, 22, 26, 0.2) !default;
$elevation-2: 0 0 0 1px rgba(16, 22, 26, 0.1),
0 1px 1px rgba(16, 22, 26, 0.2),
0 2px 6px rgba(16, 22, 26, 0.2) !default;
$elevation-3: 0 0 0 1px rgba(16, 22, 26, 0.1),
0 2px 4px rgba(16, 22, 26, 0.2),
0 8px 24px rgba(16, 22, 26, 0.2) !default;
$elevation-4: 0 0 0 1px rgba(16, 22, 26, 0.1),
0 4px 8px rgba(16, 22, 26, 0.2),
0 18px 46px 6px rgba(16, 22, 26, 0.2) !default;